<div>
	<h2>{{repo.name}}</h2>
	Issues; {{repo.open_issues_count}}	
</div>
<div>
	<ul>
	    <li ng-repeat="user in repo.collaborators">
	    	<img src="{{user.avatar_url}}" tittle="{{user.login}}">
	    	{{user.login}}
	    </li>
	</ul>
</div>
<a href="#/main">Back to search</a>
<a href="#/user/{{ repo.owner.login }}">Back to {{repo.owner.login}}</a>